* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #000;
  display: grid;
  place-items: center;
}

.block {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.bol {
  width: 80px;
  height: 80px;
  background-color: #1e1e1e;
  background: url("https://images.unsplash.com/photo-1611915387288-fd8d2f5f928b?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=880&q=80");
  background-size: cover;
  margin: 1px;
  animation: bol 4s linear infinite;
  border-radius: 50%;
  box-shadow: 
  0 0 0 10px #ee6352, 
  0 0 0 20px #d45379,
   0 0 0 30px #a4558f,
    0 0 0 40px #6d588e, 
    0 0 0 50px #405378;
}

.bol:nth-child(2) {
  animation-delay: 0.1s;
}
.bol:nth-child(3) {
  animation-delay: 0.2s;
}
.bol:nth-child(4) {
  animation-delay: 0.3s;
}
.bol:nth-child(5) {
  animation-delay: 0.4s;
}
.bol:nth-child(6) {
  animation-delay: 0.5s;
}
.bol:nth-child(7) {
  animation-delay: 0.6s;
}
.bol:nth-child(8) {
  animation-delay: 0.7s;
}
.bol:nth-child(9) {
  animation-delay: 0.8s;
}
.bol:nth-child(10) {
  animation-delay: 0.9s;
}

@keyframes bol {
  0% {
    transform: scale(0) rotate(-180deg);
  }

  50% {
    transform: scale(1.1) rotate(45deg);
  }

  100% {
    transform: scale(0) rotate(180deg);
  }
}
