.btn {
  color: $secondary-color;
  background-color: transparent;
  padding: 1.3em 4em;
  text-transform: uppercase;
  border: 1px solid $secondary-color;
  transition: 0.6s;
  cursor: pointer;

  a {
    color: $text-clr;
    font-weight: 600;
  }
}

.btn:hover {
  background-color: $secondary-color;

  a {
    color: $text-clr2;
    transition: 0.1s;
    font-weight: 800;
  }
}