.box {
  background-color: white;
  padding: 1em 0;
}

.block-content {
  width: 600px;
  height: 500px;
  background-color: lightgrey;
  border: 1px solid black;
  margin: 0 auto;
}

.block-item {
  height: 100px;
  width: 100px;
  border: 2px solid black;
  text-align: center;
  line-height: 90px;
  font-size: 1.5em;
  color: black;
  position: relative;
  -webkit-animation-name: move-round;
          animation-name: move-round;
  -webkit-animation-duration: 6s;
          animation-duration: 6s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
}

.block-item:nth-of-type(2) {
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
  -webkit-animation-name: move-round-10;
          animation-name: move-round-10;
}

.block-item:nth-of-type(3) {
  -webkit-animation-timing-function: ease-out;
          animation-timing-function: ease-out;
  -webkit-animation-name: move;
          animation-name: move;
}

.block-item:nth-of-type(4) {
  -webkit-animation-timing-function: ease-in;
          animation-timing-function: ease-in;
  -webkit-animation-name: move;
          animation-name: move;
}

.block-item:nth-of-type(5) {
  -webkit-animation-name: move-swing;
          animation-name: move-swing;
}

@-webkit-keyframes move {
  0% {
    background-color: rgba(255, 0, 0, 0.507);
    left: 0px;
  }
  50% {
    left: 500px;
  }
  75% {
    background-color: red;
    left: 500px;
  }
  100% {
    background-color: transparent;
    left: 0px;
  }
}

@keyframes move {
  0% {
    background-color: rgba(255, 0, 0, 0.507);
    left: 0px;
  }
  50% {
    left: 500px;
  }
  75% {
    background-color: red;
    left: 500px;
  }
  100% {
    background-color: transparent;
    left: 0px;
  }
}
@-webkit-keyframes move-round {
  0% {
    background-color: rgba(255, 0, 0, 0.507);
    left: 0px;
  }
  50% {
    left: 500px;
    border-radius: 50%;
  }
  75% {
    background-color: red;
    left: 500px;
    border-radius: 50%;
  }
  100% {
    background-color: transparent;
    left: 0px;
  }
}
@keyframes move-round {
  0% {
    background-color: rgba(255, 0, 0, 0.507);
    left: 0px;
  }
  50% {
    left: 500px;
    border-radius: 50%;
  }
  75% {
    background-color: red;
    left: 500px;
    border-radius: 50%;
  }
  100% {
    background-color: transparent;
    left: 0px;
  }
}
@-webkit-keyframes move-round-10 {
  0% {
    background-color: rgba(255, 0, 0, 0.507);
    left: 0px;
  }
  50% {
    left: 500px;
    border-radius: 10%;
  }
  75% {
    background-color: red;
    left: 500px;
    border-radius: 10%;
  }
  100% {
    background-color: transparent;
    left: 0px;
  }
}
@keyframes move-round-10 {
  0% {
    background-color: rgba(255, 0, 0, 0.507);
    left: 0px;
  }
  50% {
    left: 500px;
    border-radius: 10%;
  }
  75% {
    background-color: red;
    left: 500px;
    border-radius: 10%;
  }
  100% {
    background-color: transparent;
    left: 0px;
  }
}
@-webkit-keyframes move-swing {
  0% {
    background-color: red;
    left: 0px;
  }
  20% {
    background-color: transparent;
    left: 200px;
  }
  30% {
    background-color: transparent;
    left: 100px;
  }
  50% {
    background-color: red;
    left: 500px;
    border-radius: 10%;
  }
  75% {
    background-color: red;
    left: 500px;
    border-radius: 10%;
  }
  80% {
    background-color: red;
    left: 300px;
  }
  90% {
    background-color: red;
    left: 400px;
  }
  100% {
    background-color: transparent;
    left: 0px;
  }
}
@keyframes move-swing {
  0% {
    background-color: red;
    left: 0px;
  }
  20% {
    background-color: transparent;
    left: 200px;
  }
  30% {
    background-color: transparent;
    left: 100px;
  }
  50% {
    background-color: red;
    left: 500px;
    border-radius: 10%;
  }
  75% {
    background-color: red;
    left: 500px;
    border-radius: 10%;
  }
  80% {
    background-color: red;
    left: 300px;
  }
  90% {
    background-color: red;
    left: 400px;
  }
  100% {
    background-color: transparent;
    left: 0px;
  }
}/*# sourceMappingURL=style.css.map */