.container {
    display:grid;
    place-content: center;
    background: black;
    height: 300px;
    width: 300px;
    border-radius: 50%;
    box-shadow: 
    0 0 0 10px #ee6352,
    0 0 0 20px #d45379,
    0 0 0 30px #a4558f,
    0 0 0 40px #6d588e,
    0 0 0 50px #405378,
    ;
    margin: 5em;
}


.content{
    background-color:black;
    height:150px;
    width:150px;
    margin: 0 auto;
    animation: move 5s infinite ease-in-out alternate;
    box-shadow: 
    0 0 0 10px 15px #fff;


}




@keyframes move {
    0% {transform: rotate(0deg); background-color:lightblue;border-radius:50%;}
    20% {transform: rotate(-45deg); background-color: #ee6352;border-radius:100% 0% 50% 50% / 50% 0% 100% 50% ;}
    40% {transform: rotate(-90deg); background-color: #d45379;border-radius:100% 0% 50% 50% / 0% 0% 100% 100% ;}
    60% {transform: rotate(-135deg); background-color: #a4558f;border-radius:100% 0% 100% 0% / 0% 0% 100% 100% ;}
    80% {transform: rotate(-180deg); background-color: #405378;border-radius:100% 0% 100% 0% / 0% 100% 0% 100%  ;}
   100% {transform: rotate(0deg); background-color: aquamarine;border-radius:50%;}


  }

