@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700;900&display=swap");

// _base.scss
$bg-clr: #fefefe;
$text-clr: #111;
$text-clr2: rgb(97, 135, 216);
$text-clr3: rgb(128, 179, 128);

$font-stack: "Lobster", cursive;
$bg-green-clr: rgb(128, 179, 128);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  //
}

html {
  font-family: $font-stack;
  // scroll-behavior: smooth;
}
body {
  background-color: $bg-clr;
  font-size: 16px;
  color: $text-clr;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  font-family: $font-stack;
}

header {
  z-index: 90;
  position: fixed;
  width: 100%;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1.5rem;
  background-color: $bg-clr;
}

.nav-menu {
  position: fixed;
  left: -100%;
  top: 3.5rem;
  flex-direction: column;
  background-color: $bg-green-clr;
  width: 100%;
  border-radius: 0px 0px 3px 3px;
  transition: 0.3s;
  box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
  height: 100vh;
  justify-content: flex-start;
  font-size: 2.5em;
  text-align: center;
}

.bar {
  display: block;
  width: 25px;
  height: 1.3px;
  margin: 5px auto;
  transition: all 0.3s ease-in-out;
  background-color: $text-clr;
}

#hamburger-button {
  background-color: transparent;
  border: none;
}

.nav-menu.active {
  left: 0;
}

.nav-item {
  // border-top: 1px solid rgba(204, 204, 204, 0.774);
  padding: 1em;
}
.nav-link {
  font-weight: 500;
  color: #fff;
}

.nav-link:hover {
  color: $text-clr2;
  transition: 0.4s;
  border-bottom: 1px solid #ccc;
}

.nav-logo {
  margin: 0 auto;
}

.nav-logo {
  font-size: 1.3em;
  font-weight: 500;
  color: $text-clr;
  z-index: 4;
}

.hamburger {
  display: block;
  cursor: pointer;
  z-index: 10;
}

.hamburger.active .bar:nth-child(2) {
  opacity: 0;
}

.hamburger.active .bar:nth-child(1) {
  transform: translateY(5px) rotate(45deg);
}

.hamburger.active .bar:nth-child(3) {
  transform: translateY(-8px) rotate(-45deg);
}

.main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50vh;
  width: 100%;
  background: url("https://images.unsplash.com/photo-1428515613728-6b4607e44363?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1470&q=80");
  background-repeat: no-repeat;
  background-size: cover;
  color: $text-clr2;
}

.primary-btn {
  color: #fff;
  background-color: transparent;
  padding: 1.2em 2.3em;
  text-transform: uppercase;
  border: 1px solid $text-clr2;
  transition: 0.6s;
  cursor: pointer;
  width: 145px;

  a {
    color: $text-clr2;
  }
}

.primary-btn:nth-of-type(2) {
  border: 1px solid $text-clr3;
  margin-left: 0.3rem;
  a {
    color: $text-clr3;
  }
}
.primary-btn:hover {
  background-color: $text-clr2;
  border: 1px solid $bg-clr;
  color: #fff;

  a {
    color: #fff;
    transition: 0.1s;
  }
}
.primary-btn:nth-of-type(2):hover {
  background-color: $bg-green-clr;

  color: #fff;

  a {
    color: #fff;
    transition: 0.1s;
  }
}
.main-content {
  position: absolute;
  margin-left: 1em;
  right: 10%;

  h1 {
    font-size: 4em;
    margin-bottom: 0.8rem;
  }

  p {
    width: 18em;
    margin-bottom: 1rem;
  }
}

.populaire-gerechten-section {
  height: 50vh;

  h2 {
    font-size: 3.3em;
    font-weight: bolder;
    text-align: center;
    margin-top: 1em;
  }
}

.dishes {
  margin: 1vw 10vw;
  padding: 0 10vw;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  // grid-template-columns: 1fr;
  place-content: center;
  gap: 13vw;
  margin-top: 6em;
}

.card {
  height: 450px;
  width: 250px;
  margin: 0 auto;
}
.card-title {
  h4 {
    font-size: 1.2em;
  }
}

.card-link {
  align-self: flex-end;
  color: $text-clr;
  margin-top: 2em;
}
.card-link:hover {
  color: $text-clr2;
  cursor: pointer;
}

.img-card {
  height: 100%;
  width: 100%;
  object-fit: contain;
  clip-path: circle(40% at 52% 52%);
}

.card-content {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: column;
}
.card-title,
.menu-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.fill {
  height: 130vh;
}
.menu-title {
  margin: 1em auto;
  text-align: center;
  font-size: 1.2em;
}
.menu-item {
  height: 100px;
  width: 300px;
}

.menu-item {
  p {
    font-size: 1.1em;
  }
}

.menu-list {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  gap: 3em;
  place-content: center;
  margin: 0 10vw;
  padding: 0 10vw;
  // border: 1px solid red;

  // // show grid border

  // .menu-item{
  //   border: 1px solid blue;
  // }
}

.menu-dishes {
  margin: 15vw 0;
  h2 {
    font-size: 3.3em;
    margin: 1em;
    text-align: center;
  }
}

//Footer

footer {
  color: $text-clr2;
  height: 350px;
  background-color: $bg-green-clr;
}

.contact {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  padding: 2em 0;
}

.contact-content {
  h4 {
    font-size: 1.4em;
    margin-bottom: 1em;
  }

  p {
    line-height: 1.6em;
  }
}

.f-nav {
  width: 250px;
  h4 {
    margin: 1em 0;
    font-size: 1.4em;
  }
  a {
    color: $text-clr2;
    line-height: 1.6em;
  }
}

.f-nav-list {
  display: flex;
  justify-content: space-between;
}
.chef-container {
  display: none;
}

video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 50vh;
  object-fit: cover;
}

.contact-social {
  font-size: 1.3em;
  cursor: pointer;
}

.overlay-content {
  display: none;
}
//media queries
@media only screen and (min-width: 1080px) {
  header {
    z-index: 90;
    position: fixed;
    width: 100%;
  }

  .fill {
    display: none;
  }

  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1.5rem;
    // background-color: rgba(17, 17, 17, 0.438);
    background-color: transparent;
    height: 4em;
  }

  .nav-scrolled {
    color: $text-clr;
    background: $bg-clr;
    box-shadow: 0 3px 20px rgba(#111, 0.2);

    a {
      color: $text-clr;
    }
  }

  .nav-link {
    color: $bg-clr;
  }

  .hamburger {
    display: none;
  }

  .nav-logo {
    font-size: 1.5em;
    flex: 1;
    color: $bg-clr;
  }

  .nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: unset;
    flex-direction: row;
    background-color: transparent;
    text-align: center;
    height: 100%;
    box-shadow: none;
    width: 27%;
    font-size: 1.5em;
  }

  .dishes {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    place-content: center;
    max-width: 1080px;
    margin: 0 auto;
    margin-top: 6em;
  }
  .menu-dishes {
    h2 {
      font-size: 3.5em;
      margin: 1em;
      text-align: center;
    }
  }

  .menu-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    gap: 3em;
    place-content: center;
    width: 900px;
  }
  .main-content {
    p {
      width: 22em;
    }
  }
  .container {
    display: flex;
    justify-content: flex-end;
  }

  //footer

  footer {
    height: 250px;
  }

  .contact {
    flex-direction: row;
    padding: 2em 10vw;
    max-width: 1100px;
    margin: 0 auto;
  }

  .f-nav-list {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }

  .f-nav {
    h4 {
      margin-bottom: 1em;
      margin-top: -1em;
    }
  }

  #overlay {
    position: fixed;
    display: hidden;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 2;
    cursor: pointer;
  }
  .img-chef {
    position: fixed;
  }
  #text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
  }

  .overlay-text {
    font-size: 4em;
    color: $bg-clr;
  }

  .click-chef {
    font-size: 2em;
    color: $text-clr3;
  }
  .chef-container {
    display: block;
    position: relative;
  }
  .img-chef {
    z-index: 9;
    position: absolute;
    top: -472px;
    left: -100px;
  }

  .fade-in {
    opacity: 0;
    transition: opacity 300ms ease-in;
  }

  .fade-in.appear {
    opacity: 1;
  }
}

@media only screen and (min-width: 300px) and (max-width: 380px) {
  .fill {
    height: calc(200vh + 50vw);
  }

  .main-content {
    right: 0;
  }
}
