@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700;900&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-family: "Lobster", cursive;
  scroll-behavior: smooth;
}

body {
  background-color: #fefefe;
  font-size: 16px;
  color: #111;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

header {
  z-index: 90;
  position: fixed;
  width: 100%;
}

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1rem 1.5rem;
  background-color: #111;
}

.nav-menu {
  position: fixed;
  left: -100%;
  top: 3.5rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #111;
  width: 100%;
  border-radius: 0px 0px 3px 3px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  -webkit-box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
          box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
  height: 100vh;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.bar {
  display: block;
  width: 25px;
  height: 1.3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #fff;
}

#hamburger-button {
  background-color: transparent;
  border: none;
}

.nav-menu.active {
  left: 0;
}

.nav-item {
  border-top: 1px solid rgba(204, 204, 204, 0.774);
  padding: 1em;
}

.nav-link {
  font-size: 14px;
  font-weight: 500;
  color: #fff;
}

.nav-link:hover {
  color: #fff;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-bottom: 1px solid #ccc;
}

.nav-logo {
  margin: 0 auto;
}

.nav-logo {
  font-size: 1.3em;
  font-weight: 500;
  color: #fefefe;
  z-index: 4;
}

.hamburger {
  display: block;
  cursor: pointer;
  z-index: 10;
}

.hamburger.active .bar:nth-child(2) {
  opacity: 0;
}

.hamburger.active .bar:nth-child(1) {
  -webkit-transform: translateY(5px) rotate(45deg);
          transform: translateY(5px) rotate(45deg);
}

.hamburger.active .bar:nth-child(3) {
  -webkit-transform: translateY(-8px) rotate(-45deg);
          transform: translateY(-8px) rotate(-45deg);
}

.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
  width: 100%;
}

.primary-btn {
  color: #fff;
  background-color: transparent;
  padding: 1.3em 4em;
  text-transform: uppercase;
  border: 1px solid #333;
  -webkit-transition: 0.6s;
  transition: 0.6s;
  cursor: pointer;
}

.primary-btn a {
  color: #111;
}

.primary-btn:hover {
  background-color: #111;
  color: #fff;
}

.primary-btn:hover a {
  color: #fff;
  -webkit-transition: 0.1s;
  transition: 0.1s;
}

@media only screen and (min-width: 1080px) {
  header {
    z-index: 90;
    position: fixed;
    width: 100%;
  }
  .navbar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0 1.5rem;
    background-color: #111;
    height: 4em;
  }
  .navbar:hover {
    background-color: #111;
  }
  .hamburger {
    display: none;
  }
  .nav-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: unset;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    background-color: transparent;
    text-align: center;
    height: 100%;
    -webkit-box-shadow: none;
            box-shadow: none;
    width: 60%;
  }
}
/*# sourceMappingURL=style.css.map */