@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;600;700;800;900&display=swap");
html {
  scroll-behavior: smooth;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  color: #fff;
  background-color: #111;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

header {
  z-index: 90;
  position: fixed;
  width: 100%;
}

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2rem 1.5rem;
  background-color: transparent;
}

.nav-menu {
  position: fixed;
  top: -100%;
  left: 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #111;
  width: 100%;
  border-radius: 0px 0px 3px 3px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
          box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
  height: 100vh;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.bar {
  display: block;
  width: 25px;
  height: 1.3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #fff;
  text-shadow: 0 10px 27px rgba(0, 0, 0, 0.89);
}

.bar:nth-of-type(2) {
  display: block;
  width: 20px;
  height: 1.3px;
  margin: 5px auto;
  margin-right: 0;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #fff;
}

.bar:nth-of-type(3) {
  display: block;
  width: 15px;
  height: 1.3px;
  margin: 5px auto;
  margin-right: 0;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #fff;
}

#hamburger-button {
  background-color: transparent;
  border: none;
}

.nav-menu.active {
  top: 0;
  padding-top: 5rem;
}

.nav-item {
  border-top: 1px solid rgba(204, 204, 204, 0.774);
  padding: 1em;
}

.nav-link {
  font-size: 14px;
  font-weight: 500;
  color: #fff;
}

.nav-link span {
  float: right;
}

.nav-link:hover {
  color: #fff;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-bottom: 1px solid #fff;
}

.nav-logo {
  font-size: 1em;
  font-weight: 600;
  color: #fff;
  z-index: 4;
  text-shadow: 0 10px 27px rgba(0, 0, 0, 0.89);
}

.hamburger {
  display: block;
  cursor: pointer;
  z-index: 10;
}

.hamburger.active .bar:nth-child(2) {
  opacity: 0;
}

.hamburger.active .bar:nth-child(1) {
  -webkit-transform: translateY(5px) rotate(45deg);
          transform: translateY(5px) rotate(45deg);
}

.hamburger.active .bar:nth-child(3) {
  -webkit-transform: translateY(-8px) rotate(-45deg);
          transform: translateY(-8px) rotate(-45deg);
  width: 25px;
}

.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
  width: 100%;
}

.main video {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  position: center;
}

.block-text {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  bottom: 0;
}

.main-headline {
  font-weight: 700;
  font-size: 17vw;
  text-shadow: 0 10px 27px rgba(0, 0, 0, 0.89);
  overflow: hidden;
  color: #fff;
  margin-bottom: 0.5em;
}

.main-headline:nth-of-type(1) {
  margin-bottom: -0.4em;
}

.main-video {
  z-index: -1;
}

section {
  height: 100vh;
  font-size: 3em;
  scroll-snap-align: end;
  text-align: center;
}

.section-1 {
  background: url("https://images.unsplash.com/photo-1635924941939-2b58521c61fa?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=763&q=80");
}

.section-2 {
  background-color: pink;
  background: url("https://images.unsplash.com/photo-1635865653470-8976db975eaf?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=764&q=80");
}

.section-3 {
  background: url("https://images.unsplash.com/photo-1635373670332-43ea883bb081?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1881&q=80");
}

.section-4 {
  background-color: pink;
  background: url("https://images.unsplash.com/photo-1636361479581-5ab1a7a72beb?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1035&q=80");
}

.section-5 {
  background: url("https://images.unsplash.com/photo-1630152389714-46b8c393f555?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=928&q=80");
}

.section-4 {
  background: url("https://images.unsplash.com/photo-1622730000579-e6bde344d6a4?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1887&q=80");
}

.section-6 {
  background: url("https://images.unsplash.com/photo-1633876841461-772d2b0b0e39?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2031&q=80");
}

.bg-fx {
  background-attachment: fixed;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 2;
}

.container-section {
  -ms-scroll-snap-type: y mandatory;
      scroll-snap-type: y mandatory;
  overflow-y: scroll;
  height: 100vh;
}

.fade-in {
  opacity: 0;
  -webkit-transition: opacity 400ms ease-in-out;
  transition: opacity 400ms ease-in-out;
}

.fade-in.appear {
  opacity: 1;
}

.fade-in-top {
  -webkit-animation: fade-in-top 1.6s cubic-bezier(0.39, 0.575, 0.565, 1) both;
          animation: fade-in-top 1.6s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

@-webkit-keyframes fade-in-top {
  0% {
    -webkit-transform: translateY(-50px);
            transform: translateY(-50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

@keyframes fade-in-top {
  0% {
    -webkit-transform: translateY(-50px);
            transform: translateY(-50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

.showcase_1 {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: 9;
  margin-bottom: 13.6vw;
}

.section-about {
  margin-bottom: 41.6vw;
  margin-left: auto;
  margin-right: auto;
  width: 84.53vw;
}

.about-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 84.53vw;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.about-text p {
  color: #fff;
  font-size: 3.73vw;
  letter-spacing: -0.01em;
  line-height: 132.03%;
  margin-bottom: 11.2vw;
  opacity: 0.85;
  padding-left: 7.73vw;
  width: 81.066vw;
}

.headline {
  font-size: 7.5vw;
  font-weight: 600;
  letter-spacing: -0.055em;
  line-height: 91.8%;
  margin-bottom: 13.6vw;
}

@media only screen and (min-width: 1080px) {
  header {
    z-index: 90;
    position: fixed;
    width: 100%;
  }
  .navbar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0 1.5rem;
    background-color: transparent;
    height: 4em;
  }
  .hamburger {
    display: none;
  }
  .nav-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: unset;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    background-color: transparent;
    text-align: center;
    height: 100%;
    -webkit-box-shadow: none;
            box-shadow: none;
    width: 60%;
  }
  .nav-logo {
    width: 100%;
    margin-left: 4em;
  }
  .nav-item {
    margin-left: none;
    border: none;
  }
  .nav-link {
    font-size: 1em;
    font-weight: 500;
    color: #fff;
  }
  .nav-link:hover {
    border-bottom: 2px solid #fff;
    -webkit-transition: 0.4s;
    transition: 0.4s;
    font-size: 1em;
  }
}
/*# sourceMappingURL=main.css.map */