
@import "../assets/colors";
@import "../assets/buttons";
@import "../assets/navbar";
@import "../assets/animation";
@import "../assets/layout";
@import "../assets/mediaqueries";


@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;600;700;800;900&display=swap");

//_base.scss

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}



.main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
  width: 100%;

  video {
    height: 100%;
    width: 100%;
    object-fit: cover;
    position: center;
  }
}



.block-text {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
  bottom: 0;
}

.main-headline {
  font-weight: 700;
  font-size: 12vw;
  overflow: hidden;
  color: $text-clr;
  margin-bottom: 0.5em;
}

.main-headline:nth-of-type(1) {
  margin-bottom: -0.4em;
}

.main-video {
  display:none;
  z-index: -2;

  //   position: fixed;
  //   right: 0;
  //   bottom: 0;
  //   min-width: 100%;
  //   min-height: 100%;

  
}

/// section

// section {
 
//   // font-size: 3em;
//   // scroll-snap-align: start;
//   // text-align: center;
// }
.bg-cases {
  background-color: teal;
  background: url("https://images.unsplash.com/photo-1634017839464-5c339ebe3cb4?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=735&q=80");
  background: url("https://images.unsplash.com/photo-1618556450991-2f1af64e8191?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1064&q=80");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 175vh;
  background-attachment: fixed;
  background-attachment: fixed;
  
}
//

// .section-1 {
//   //1
//   background: url("https://images.unsplash.com/photo-1635771531470-d2ab477fac93?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1965&q=80");
// }

// .section-2 {
//   background: url("https://images.unsplash.com/photo-1635924941939-2b58521c61fa?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=763&q=80");
// }

// //

// .section-3 {
//   background-color: pink;
//   background: url("https://images.unsplash.com/photo-1635865653470-8976db975eaf?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=764&q=80");
// }

// //

// .section-4 {
//   background: url("https://images.unsplash.com/photo-1635373670332-43ea883bb081?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1881&q=80");
// }

// .section-5 {
//   background: url("https://images.unsplash.com/photo-1622730000579-e6bde344d6a4?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1887&q=80");
// }
// .section-6 {
//   background: url("https://images.unsplash.com/photo-1630152389714-46b8c393f555?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=928&q=80");
// }

// .section-7 {
//   background: url("https://images.unsplash.com/photo-1633876841461-772d2b0b0e39?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2031&q=80");
// }
// .bg-fx {

//   background-position: center;
//   background-repeat: no-repeat;
//   background-size: cover;
//   z-index: 2;
// }
// .bg-fx-right {
//   background-attachment: fixed;
//   background-attachment: fixed;
//   background-position: right;
//   background-repeat: no-repeat;
//   background-size: cover;
//   z-index: 2;
// }

// .container-section {
//   scroll-snap-type: y mandatory;
//   overflow-y: scroll;
//   height: 100vh;
// }



////////////////////////////////

.so-many-shadows {
  text-shadow: 0.025em 0.025em 0 tomato, 0.05em 0.05em 0 blueviolet,
    0.075em 0.075em 0 teal, 0.1em 0.1em 0 black;
}

//////Cards

.container-case {
  padding-top: 1em;
}

.case-item {
  margin: 1em;
}

.card {
  height: 350px;
  width: 250px;
  background: hsla(0, 0%, 97%, 0.25);
  backdrop-filter: blur(5px);
  border-radius: 13px;
  box-shadow: 0 3px 20px rgba(#111, 0.2);
  margin: 0 auto;
}
.card-item {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.img-size {
  height: 280px;
  width: 100%;
  object-fit: cover;
  position: relative;
  border-radius: 13px 13px 0 0;
}

.card-text {
  margin: 0 1em;
}
.card-titel {
  font-size: 3em;
  position: absolute;
  bottom: 1.5em;
  left: -18px;
  font-weight: bold;
}

.card-link {
  color: white;
  background: transparent;
  position: absolute;
  bottom: 10px;
}
/////cards end



.showcase_1 {
  height: 100%;
  width: 100%;
  object-fit: cover;
  z-index: 9;
  margin-bottom: 13.6vw;
}

.about-text{
  display: flex;
  width: 84.53vw;
  justify-content: space-between;
  flex-wrap: wrap;

  p {
    color: $text-clr;
    font-size: 3.73vw;
    letter-spacing: -0.01em;
    line-height: 132%;
    margin-bottom: 11.2vw;
    opacity: 0.85;
    padding-left: 7.73vw;
    width: 81.06vw;
  }
}
.headline,
.cases-headline {
  font-size: 7.5vw;
  font-weight: 600;
  letter-spacing: -0.055em;
  line-height: 91.8%;
  margin-bottom: 13.6vw;
}

.cases-headline {
  padding-top: 13.6vw;
}


// slider text
// @keyframes bannermove {
//   0% {
//     transform: translateX(-50%);
//   }
//   100% {
//     transform: translateX(0%);
//   }
// }
.nav-logo.nav-scrolled {
  
  text-shadow: 0 3px 20px rgba(#fff, 0.2);
  text-shadow:
   0.025em 0.025em 0 tomato,
    0.05em 0.05em 0 blueviolet,
  0.075em 0.075em 0 teal,
   0.1em 0.1em 0 black;

 
  
}
.hamburger.nav-scrolled {

  box-shadow: 
  0 0 0 1px tomato, 
  0 0 0 2px blueviolet,
   0 0 0 3px teal,
    0 0 0 4px black, 
    0 0 0 5px #405378;
  padding:0.4rem;
  border-radius: 50%;
  
}